:root{
    --bg-linearGral-transparente: radial-gradient(circle at 40% 70%, rgba(10, 56, 113, 0.5), rgba(5, 25, 51, 0.5) 58%);
}

.hero__div{
    min-height: 100vh;
    padding-top: 4rem;
    background-image: url(../assets/img/fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
}

.presentacion{
    border-radius: 2%;
}

.hero__img{
   max-width: 100%;
   max-height: 80%;   
   border-radius: 15px;
}

.hero__p{
    line-height: 2rem;
    text-indent: 2rem;
}

.hero__containerP{
    margin-top: auto;
    margin-bottom: auto;
    background-color: #051933f3;
    color: white;
    box-shadow: 2px 2px 5px white;
    text-shadow: 0.2px, 0.4px;
    letter-spacing: 1.5px;
    border-radius: 15px;
}

@media screen and (max-width: 263px) {

    .hero__containerP{
        display: none;
    }

    .futurosCursos__titulo .spam__sombra, .nuestroCursos .nuestroCursos__titulo{
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {

    .dislay__none576{
        display: none;
    }

    .mt0__576{
        margin-top: 0;
    }
    
}

@media screen and (max-width: 992px) {
    

    .hero__img{
        max-height: 25rem;
        margin-left: auto;
        margin-right: auto;

    } 
    .hero__div{
        padding-bottom: 3rem;
    }
    
}